name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run basic validation
        run: |
          python -c "import app"
      - name: Run SAST (Bandit)
        run: |
          pip install bandit
          bandit -r . -ll
      - name: Run SCA (Dependency Scan)
        run: |
          pip install safety
          safety check
      - name: Build Docker Image
        run: |
          docker build -t awasaf-demo:${{ github.sha }} .

      - name: Scan Docker Image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: awasaf-demo:${{ github.sha }}
          severity: CRITICAL
          exit-code: 1
      - name: Trivy Scan (JSON Report)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: awasaf-demo:${{ github.sha }}
          format: json
          output: trivy-report.json
      - name: Upload Trivy Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-report.json
